@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/*Register & Login CSS*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 2px solid steelblue;
  color: steelblue;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

body, html {
  height: 100%;
}

/*Homepage CSS*/
.hero-image1 {
  background-image: linear-gradient(45deg,
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)),
  url("https://www.shutterstock.com/image-photo/australian-shepherd-attentive-260nw-740843314.jpg");
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.au {
  position: relative;
  font-size: larger;
}

.cu {
  position: relative;
  font-size: larger;
}

.about-us {
  background-color: indigo;
}

.sect-title-a {
  position: relative;
  left: 120px;
  color: white;
  
}

.sect-title-b {
  position: relative;
  bottom: 35px;
  right: -140px;
  color: white;
}

.a-padding {
  padding-left: 100px;
  padding-right: 90px;
}

.paragraph-1 {
  float: left;
  width: 50%;
  padding: 20px;
  flex-wrap: wrap;
  color: white;
}

.paragraph-2 {
  flex-wrap: wrap;
  position: relative;
  bottom: 17px;
  color: white;
}

.sect-title-c {
  position: relative;
  right: 80px;
}

/*Services Page CSS*/
.hero-image2 {
  background-image: linear-gradient(45deg,
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)),
  url("https://images.pexels.com/photos/264005/pexels-photo-264005.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

